---
---
@import "_variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html, body {
    color: black;
}   
.container {
    display: flex;
    flex-direction: column;
    margin: 25px;
}
nav {
    display: flex;
    font-family: $font-header;
    padding-left: 0;
    margin-bottom: 40px;
    justify-content: space-between;
}
li {
    list-style: none;
}
.nav-links {
    display: flex;
}
.nav-item {


}